
#cabeza{
	background-color: rgba(255, 184, 71, 0.9);
	height:140px;
	width:1350px;
	margin-top:-10px;
	margin-left:-10px;
	-webkit-box-shadow: 0px 7px 5px 0px rgba(117,72,117,1);
}

#mapa{
	height:400px;
	width:600px;
	margin-top:20px;
	margin-left:30px;
}

#titulo{
	font-size:40px;
	margin-top:0px;
	padding-top: 40px;
	margin-left:500px;
	font-family:AR CHRISTY;
	color:white;
}

#contenedoriz{
	background-color: rgba(230, 199, 77, 0.9);
	height:535px;
	width:340px;
	margin-top:5px;
	margin-left:-10px;
	-webkit-box-shadow: 13px 20px 44px 0px rgba(117,72,117,1);
}

#direccion{
	font-size:40px;
	margin-top:0px;
	font-family:Andy;
	padding-top:60px;
	color:white;
	margin-left:60px;
}
#callcenter{
	font-size:40px;
	margin-top:10px;
	font-family:Quartz MS;
	color:white;
}

#div_mapa{
	height:460px;
	width:660px;
	margin-left:500px;
	margin-top:-500px;
	background-color: rgba(94, 54, 33, 0.9);
	-webkit-box-shadow: -6px -3px 59px 3px rgba(56,27,56,1);
}


