#div_horarioL9{
	height:40px;
	width:140px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioM9{
	height:40px;
	width:140px;
	margin-left:140px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioMM9{
	height:40px;
	width:140px;
	margin-left:280px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioJ9{
	height:40px;
	width:140px;
	margin-left:420px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioV9{
	height:40px;
	width:140px;
	margin-left:560px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioL9:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioM9:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioMM9:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioJ9:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioV9:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#hora9{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}

#hora99{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}


#div_horarioL10{
	height:40px;
	width:140px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioM10{
	height:40px;
	width:140px;
	margin-left:140px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioMM10{
	height:40px;
	width:140px;
	margin-left:280px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioJ10{
	height:40px;
	width:140px;
	margin-left:420px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioV10{
	height:40px;
	width:140px;
	margin-left:560px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioL10:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioM10:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioMM10:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioJ10:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioV10:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#hora10{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}

#hora101{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}


#div_horarioL11{
	height:40px;
	width:140px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioM11{
	height:40px;
	width:140px;
	margin-left:140px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioMM11{
	height:40px;
	width:140px;
	margin-left:280px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioJ11{
	height:40px;
	width:140px;
	margin-left:420px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioV11{
	height:40px;
	width:140px;
	margin-left:560px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioL11:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioM11:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioMM11:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioJ11:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioV11:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#hora11{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}

#hora111{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}


#div_horarioL12{
	height:40px;
	width:140px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioM12{
	height:40px;
	width:140px;
	margin-left:140px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioMM12{
	height:40px;
	width:140px;
	margin-left:280px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioJ12{
	height:40px;
	width:140px;
	margin-left:420px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioV12{
	height:40px;
	width:140px;
	margin-left:560px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioL12:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioM12:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioMM12:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioJ12:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioV12:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#hora12{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}

#hora122{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}