#div_horarioL13{
	height:40px;
	width:140px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioM13{
	height:40px;
	width:140px;
	margin-left:140px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioMM13{
	height:40px;
	width:140px;
	margin-left:280px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioJ13{
	height:40px;
	width:140px;
	margin-left:420px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioV13{
	height:40px;
	width:140px;
	margin-left:560px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioL13:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioM13:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioMM13:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioJ13:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioV13:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#hora13{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}

#hora133{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}


#div_horarioL14{
	height:40px;
	width:140px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioM14{
	height:40px;
	width:140px;
	margin-left:140px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioMM14{
	height:40px;
	width:140px;
	margin-left:280px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioJ14{
	height:40px;
	width:140px;
	margin-left:420px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioV14{
	height:40px;
	width:140px;
	margin-left:560px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioL14:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioM14:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioMM14:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioJ14:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioV14:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#hora14{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}

#hora144{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}


#div_horarioL15{
	height:40px;
	width:140px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioM15{
	height:40px;
	width:140px;
	margin-left:140px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioMM15{
	height:40px;
	width:140px;
	margin-left:280px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioJ15{
	height:40px;
	width:140px;
	margin-left:420px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioV15{
	height:40px;
	width:140px;
	margin-left:560px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioL15:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioM15:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioMM15:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioJ15:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioV15:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#hora15{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}

#hora155{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}