body{
	background-image: url("imagenes/fondo.jpg");
}

a{
	text-decoration:none;
	color:white;
}

#menudiv{
	background-color:black;
	height:40px;
	width:1200px;
}

#filtros{
	background-color:red;
	height:40px;
	width:80px;
	border-radius:10%;
}

#filtros:hover{
	cursor:pointer;
}

#p_filtro{
	color:white;
	font-size:25px;
	text-aling:center;
	font-family:AR DARLING;
}

li{
	color:white;
	font-family:AR DARLING;
}

.todos{
	color:white;
	font-family:AR DARLING;
	font-size:25px;
	display: inline-block;
	margin-top:0px;
}

.todos:hover{
	cursor:pointer;
}

#complejosfiltro{
	background-color:red;
	height:40px;
	width:400px;
	margin-left:100px;
	border-radius:10%;
	opacity:0;
	-webkit-transition:opacity .8s;
}

#li_dos{
	margin-top:0px;
}

#li_dos:hover{
	cursor:pointer;
}

#fehcaA{
	color:white;
	font-size:28px;
	float:right;
}

#tipoFiltros{
	margin-top:10px;
	background-color:red;
	height:40px;
	width:140px;
	border-radius:10%;
	opacity:0;
	-webkit-transition:opacity .8s;
}

#complejo{
	font-size:40px;
	margin-top:40px;
	margin-left:500px;
	font-family:AR DARLING;
	color:white;
}

#div_plaza{
	background-color: rgba(0, 0, 0, 0.3);
	border-radius:5%;
	height:500px;
	width:1300px;
	margin-left:20px;
	overflow:auto;
}


#div_kinal{
	background-color: rgba(0, 0, 0, 0.3);
	border-radius:5%;
	height:500px;
	width:1300px;
	margin-left:20px;
	overflow:auto;
}

#div_mira{
	background-color: rgba(0, 0, 0, 0.3);
	border-radius:5%;
	height:500px;
	width:1300px;
	margin-left:20px;
	overflow:auto;
}

#div_carre{
	background-color: rgba(0, 0, 0, 0.3);
	border-radius:5%;
	height:500px;
	width:1300px;
	margin-left:20px;
	overflow:auto;
}

#tituloPeliculas{
	font-size:30px;
	margin-left:300px;
}

#sala{
	font-size:30px;
	margin-left:300px;
}

#contenedorImagen{
	height:50px;
	width:320px;
	float:right;
	margin-top:-100px;
	margin-left:-30px;
}

#contenedorHorari{
	margin-left:100px;
	height:200px;
	width:700px;
	background-color: rgba(215, 137, 44, 0.7);
}

#img_carte{
	height:300px;
	width:320px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: green;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(0, 110, 190, 0.8);
}

#div_horarioL{
	height:40px;
	width:140px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioM{
	height:40px;
	width:140px;
	margin-left:140px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioMM{
	height:40px;
	width:140px;
	margin-left:280px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioJ{
	height:40px;
	width:140px;
	margin-left:420px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioV{
	height:40px;
	width:140px;
	margin-left:560px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#p_tituloshorario1{
	font-size:30px;
}
#p_tituloshorario2{
	font-size:30px;
}
#p_tituloshorario3{
	font-size:30px;
}
#p_tituloshorario4{
	font-size:30px;
}
#p_tituloshorario5{
	font-size:30px;
}

#div_horarioL:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioM:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioMM:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioJ:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioV:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#hora{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}

#hora1{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}

#div_horarioL2{
	height:40px;
	width:140px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioM2{
	height:40px;
	width:140px;
	margin-left:140px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioMM2{
	height:40px;
	width:140px;
	margin-left:280px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioJ2{
	height:40px;
	width:140px;
	margin-left:420px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioV2{
	height:40px;
	width:140px;
	margin-left:560px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioL2:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioM2:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioMM2:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioJ2:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioV2:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#hora22{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}

#hora222{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}


#div_horarioL3{
	height:40px;
	width:140px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioM3{
	height:40px;
	width:140px;
	margin-left:140px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioMM3{
	height:40px;
	width:140px;
	margin-left:280px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioJ3{
	height:40px;
	width:140px;
	margin-left:420px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioV3{
	height:40px;
	width:140px;
	margin-left:560px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioL3:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioM3:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioMM3:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioJ3:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioV3:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#hora3{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}

#hora33{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}


#div_horarioL4{
	height:40px;
	width:140px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioM4{
	height:40px;
	width:140px;
	margin-left:140px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioMM4{
	height:40px;
	width:140px;
	margin-left:280px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioJ4{
	height:40px;
	width:140px;
	margin-left:420px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}
#div_horarioV4{
	height:40px;
	width:140px;
	margin-left:560px;
	margin-top:-70px;
	border-radius:10%;
	-webkit-transition:background .8s;
}

#div_horarioL4:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioM4:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioMM4:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioJ4:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#div_horarioV4:hover{
	background-color: rgba(145, 147, 146, 0.7);
	cursor:pointer;
}

#hora4{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}

#hora44{
	color:white;
	font-size:30px;
	font-family:Quartz MS;
	-webkit-transition:margin .8s;
}